<%- include('includes/head.ejs') %>

<!-- <link rel="stylesheet" href="/css/cart.css"> -->
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
</head>
<body>
    <%- include('includes/navigation.ejs') %>
  
      

      <div class="container3">
        <div class="box">
                      <div class="images">
                          <div class="img-holder active">
                            <model-viewer src="../models/Modern Chair (1).glb"
                            shadow-intensity="1"
                            camera-controls
                            auto-rotate ar
                            ></model-viewer>
                          </div>
                          <div class="img-holder">
                              
                          </div>
                      </div>
                      <div class="basic-info">
                          <h1><%= product.title  %></h1>
                          <p>peperfry</p>
                          <div class="rate">
                              <p>5 <i class="filled fas fa-star"></i></p>
                              
                          </div>
                          <span>&#x20b9 <%= product.price %></span>
                          <span class="line" style="margin-left: 5px;text-decoration: line-through; font-weight: 500; font-size: 19px; color: hsl(0, 0%, 44%);">&#x20b9 10999</span>
                          <div class="options">
                              <a href="#">BUY NOW</a>
                              <a href="">
                              <%- include('includes/cartButton.ejs', {product:product})  %>
                            </a>
                          </div>
                      </div>
                      <div class="description">
                          <h4>Description</h4>
                          <p><%= product.description  %></p>
                          <ul class="features">
                              <li><i class="fa fa-dot-circle-o" aria-hidden="true"></i>Retailer : <%= product.User.name %></li>
                              <li><i class="fa fa-user-circle-o" aria-hidden="true"></i>Designer : unknown</li>
                              <li><i class="fa fa-futbol-o" aria-hidden="true"></i>Type : <%= product.category.title %></li>
                          </ul>
                          <ul class="social">
                              
                          </ul>
                      </div>
                  </div>
  
          
      </div>
  </body>
  </html>  


<%- include('includes/footer.ejs') %>